.refix:before, .refix:after{content:'';display: table;width:100%;clear: both}
.bfooter{display: block;width:100%;min-height:20px;background:#000;color:#fff;position: fixed;bottom:0px;left:0px;font-size:10px;padding:8px 0;}
.navigation{}
.navigation:before, .navigation:after{content:'';display: table;width:100%; clear: both;}
.navigation ul{padding:0px;margin:0px;font-size:0px;}
.navigation ul li{display: inline-block;font-size: 14px;}
.navigation ul li a{display: block;padding: 5px 20px;color:#555;background:#f1f1f1;text-decoration: none}
.navigation ul li a:hover{background:#ddd;}